## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=1
print(x)

1

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [4]:
nombre="Manuel"

5) Crear una variable que contenga un número complejo

In [5]:
complejo=3+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
var1="True" #No es lo mismo debido a que var1 es un String y var2 un boolean
var2=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
suma=3+3.5

11) Realizar una operación de suma de números complejos

In [11]:
suma_complex=3+5j
suma_complex2=5+7j
print(suma_complex + suma_complex2)

(8+12j)

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
suma_real=3.6
print(suma_complex+suma_real)

(6.6+5j)

13) Realizar una operación de multiplicación

In [13]:
print(5*7)

35

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [16]:
x=27/4
print(x)

6.75

16) De la división anterior solamente mostrar la parte entera

In [17]:
int(x)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [18]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [19]:
print(4 * 6 + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [20]:
apellido = "Cozzari"
print(nombre + " " + apellido)

Manuel Cozzari

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [21]:
print("2" == 2) #Esto ocurre debido a que el primer 2 es un string, y el segundo es un entero

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [22]:
i="2"
print(int(i) == 2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [24]:
a=float('3,8') #El error se da debido a que al escribir un float, hay que escribirlo con punto y no con coma

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [27]:
x=3
x-=1
print (x)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [28]:
1 << 2 #Da este resultado, debido a que movemos el uno dos lugares a la izquierda y se rellena de 0 a la derecha, por lo que en binario quedaria 100, que pasado al sistema decimal es 4.
#El sistema de numeracion binario, es un sistema que unicamente utiliza el 1 y el 0, 1=encendido y 0=apagado, y dependiendo el lugar donde se encuentra el 1, representa una potencia de 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [29]:
print(2+"2") #No esta permitido debido a que el signo "+" para strings es la concatenacion entre 2 strings, mientras que para valores int o float es la suma. por lo cual la operacion solo se puede hacer entre 2 string o 2 int/float
#Si los dos operandos fueran del mismo tipo, el resultado dependeria del tipo, en caso de ser 2 strings el resultado seria "22" en cambio si fueran int el resultado seria 4

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [31]:
print("Hola, " * 3)

Hola, Hola, Hola,